.results-container {
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
  text-align: left;
  
  font-size: 16px;
  letter-spacing: 0px;
  color: #B2B2B2;
  opacity: 1;
  margin: 30px 9% 0 9%;
}

.results-container-value {
  display: table-cell;
  
  font: normal normal bold 16px/16px 'Lato', 'sans-serif';
}

@media (max-width: 340px) {
  .results-container {
    margin: 30px 3% 0 3%;
  }
}